$colors: (
  borders: #a9f5bc,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
html,
body {
  font-size: 10px;
}
* {
  margin: 0px;
  padding: 0px;
}
header {
  font-size: 2rem;
  color: white;
  border-bottom: solid 0.1rem color(borders);
}

// .showcase {
//   // object-fit: contain;
//   height: 50rem;
//   overflow: hidden;

//   img {
//     height: 50rem;
//     width: 100%;
//   }
// }

.showcase {
  background-image: url("../foo1.jpeg");
  height: 50rem;
  // object-fit: contain;
  width: 100%;
  background-position: center;
  background-size: contain;
  border-bottom: 1rem solid color(borders);

  p {
    color: white;
    font-size: 2rem;
    display: flex;
    padding-top: 15rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }
}

.items {
  width: 70%;
  box-sizing: border-box;
  margin: auto;
  padding-top: 2rem;
  height: 80vh;
  h1 {
    font-weight: normal;
  }

  &__data {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2rem;

    &__list {
      border: 0.1rem solid;
      height: 30rem;
      width: 30rem;
      border-radius: 2rem;
      overflow: hidden;
      background-color: #fafafa;
      img {
        height: 20rem;
        width: 100%;
        // object-fit: contain;
      }
    }
  }
}
