$colors: (
  primary: #fe620b,
  light_primary: lighten(#fe620b, 40%),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
html,
body {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.one {
  color: #fe620b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    text-align: center;
  }
  p {
    color: black;
    font-size: 1.1rem;
  }
  span {
    color: color(primary);
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
  }

  input {
    margin: 1rem;
    border-radius: 0.5rem;
    height: 5rem;
    padding: 1rem;
  }
}
.two {
  background-image: url("../fcover0.png");
  background-size: cover;
  background-repeat: no-repeat;
}

input[type="text"],
input[type="password"] {
  width: 27rem;
  border-radius: 1rem;
  border: none;
  background-color: color(light_primary);
}
#bttnSubmit {
  background-color: rgb(43, 133, 53);
  color: white;
  border-radius: 1rem;
  width: 25rem;
  height: 4rem;
  cursor: pointer;
  border: none;
}
