* {
  margin: 0;
  padding: 0;
}

.search-text {
  margin: 200px;
  padding: 10px;
  background-color: lightpink;
  border-radius: 50px;
  width: 200px;
}

.search-text input[type="text"] {
  background-color: red;
  border: none;
  outline: none;
}
