body,
html {
  font-size: 10px;
}

* {
  margin: 0rem;
  padding: 0rem;
}

header .headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #7dd9e8;
}

header .headings__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .headings__left__title {
  font-size: 3rem;
  margin: 1rem;
}

header .headings__left__title h1 {
  color: #397881;
  font-weight: normal;
}

header .headings__left__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  padding: 3rem 1rem 0rem 0rem;
  height: 2.4rem;
}

header .headings__left__inputs__text {
  padding: 0.5rem;
  background-color: #d4f2f7;
  border-radius: 2rem;
}

header .headings__left__inputs [type="text"] {
  outline: none;
  border-style: none;
  font-size: 1rem;
  border-radius: 2rem;
  width: 30rem;
  background-color: #d4f2f7;
}

header .headings__left__inputs button {
  border-style: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  width: 6rem;
  color: white;
  border-radius: 1rem;
  margin-left: 0.4rem;
  padding: 0.8rem;
  background-color: #264f57;
}

.headings__user {
  margin: 3rem;
}

.headings__user h1 {
  padding: 0 0rem 0.5rem 5rem;
  font-size: 2rem;
  font-weight: normal;
}

.headings__user ul {
  list-style-type: none;
}

.headings__user a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
  background-color: #f5f5f5;
}

.nav__first a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1rem;
  padding-right: 1rem;
}

.nav__second a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__left {
  margin: 3rem;
  background-color: #f5f5f5;
  width: 15%;
}

.main__left__first {
  font-size: 1.2rem;
  background-color: #2fc1da;
  padding: 1rem;
  color: #f2f2f2;
}

.main__left__content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__left__content1 ul {
  list-style-type: none;
}

.main__left__content1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.main__left__content1 a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.main__left__second {
  font-size: 1.2rem;
  background-color: #2fc1da;
  padding: 1rem;
  color: #f2f2f2;
}

.main__left__content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__left__content2 ul {
  list-style-type: none;
}

.main__left__content2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.main__left__content2 a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.active01 {
  background-color: white;
}

.main__middle {
  background-color: green;
}
/*# sourceMappingURL=main.css.map */